/* ./src/app/components/Style/meetup.module.css */

.inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    display: block;
    font-weight: bold;
  }
  
  .inputGroup input[type="text"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .main_div{
    margin-left: 35%;
    margin-top: 10%;
  }
  .description{
    width: 300px;
    height: 100px;
  }
  .meetupBtn{
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
  }